/* ----------------------
********** Blog *********
-------------------------*/
.blog {
    .card {
        border-radius: 4px;
        
        .card-header {
            padding: 0;
        }
        .card-body {
            padding: 2rem;

            .date {
                color: $headingColor;
                font-size: 13px;
                font-weight: 400;
                margin-bottom: .75rem;
            }
            .card-text {
                margin-bottom: 1.75rem;
            }
        }
    }
}