/* ----------------------
******** Contact ********
-------------------------*/
#contact {
    .icon {
        font-size: 30px;
    }

    .contact-form {
        input, 
        textarea {
            background-color: $lightGrey;
            border: 2px solid #ddd;
            border-radius: 4px;
            height: auto;
            margin-bottom: .5rem;
            padding: .75rem 1rem;

            &:focus {
                border-color: #bbb;
                box-shadow: none;
            }
        }
        textarea {
            min-height: 160px;
        }
        .comments {
            color: #ea5254;
            font-size: 14px;

            p {
                color: #ea5254;
            }
        }
    }
    #contact-form-message {
        padding: 1rem 0;

        &.text-danger {
            color: #ea5254 !important;
        }
        &.text-success {
            color: #4baea0  !important;
        }
    }
}