/* ----------------------
********* Footer ********
-------------------------*/
footer {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;

    .inner {
        padding: 3rem 0;
    }

    .copyright {
        border-top: 1px solid rgba(255,255,255,.25);
        font-size: 13px;
        letter-spacing: 2px;
        padding: 2rem 0;
        text-transform: uppercase;
    }

    a {
        color: #fff;

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}