/* ----------------------
******** Services *******
-------------------------*/
.service {
    &:nth-child(-n+3) {
        margin-bottom: 2rem
    }
    .card {
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        border-radius: 4px;
        text-align: center;
    
        .card-header {
            background-color: transparent;
            border: 0;
            line-height: 1;
            padding: 2rem 1.5rem 1.5rem;

            i {
                font-size: 2rem;
            }
        }
        .card-body {
            padding: 0 2rem 2rem;

            .card-text {
                font-size: 14px;
            }
        }
    }
}